* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  background-color: var(--color-pokemon-darkred);
  height: 7em;
  min-width: 100vw;
  box-shadow: var(--shadow);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #dadada;
  position: fixed;
  bottom: 0em;
}

body {
  flex-direction: column;
  transition: 0.3s;
  /* background: url("/pictures/backgrounds/3706.jpg");
  background-size: auto 100%;
  background-position: 600em;
  backdrop-filter: blur(5px); */
}

p {
  font-size: 1.3em;
}

.paragraph-primary-pokemons {
  font-size: 2em;
  font-weight: 600;
}

.container__page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6em;
}

.page-header {
  margin: 0.5em;
}

.section__main {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 80vh; */
  height: fit-content;
  padding-bottom: 2em;
  box-shadow: var(--shadow);
}



/* -----------------CONTAINER FÖR VALDA POKÉMONS */
.container__primary-pokemon-slots {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  width: 100%;
  /* height: 12.5em; */
  padding-top: 0.5em;
}

.container__chosen-primary-pokemons {
  display: flex;
  justify-content: space-around;
  max-width: 50em;
  min-width: 30em;
}

.chosen-primary-pokemon {
  border: 1px solid rgba(134, 134, 134, 0);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
}

.picture-chosen-primary, .picture_chosen-reserve {
  border: 1px solid rgba(113, 113, 113, 0);
  border-radius: 0.5em;
}

.picture-chosen-primary > img {
  width: 55px;
  height: 55px;
  object-fit: none;
}

.picture_chosen-reserve > img {
  width: 55px;
  height: 55px;
  object-fit: none;
}

.picture-chosen-primary:hover, .picture_chosen-reserve:hover {
  border: 1px solid rgb(134, 134, 134);
  transition: 0.1s;
  transform: scale(105%);
  cursor: pointer;
}

.picture-chosen-primary:active, .picture_chosen-reserve:active {

  background-color: var(--color-pokemon-darkred);
}

/* --------------------NAVIGATIONSKNAPP I BOTTEN */
.nav-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35em;
}

.button-bottom-nav {
  margin: 1em;
  height: 5em;
  border: none;
  border-radius: 1em;
  padding-top: 0.5em;
  background-color: var(--color-pokemon-darkred);
  box-shadow: var(--shadow);
  transition: 0.1s;
  width: fit-content;
}

.button-bottom-nav:hover {
  transition: 0.1s;
  transform: scale(104%);
  cursor: pointer;
}


/* ----- */
.search__container, .search__container-reserve {
  display: flex;
  flex-direction: column;
}

.input-pokemon-search, .input-reserve-pokemon-search { 
  /* min-width: 20em; */
  height: 3em;
  /* border-radius: 0.5em; */
  box-shadow: var(--shadow);
  padding: 0em;
  padding-left: 1em;
  margin-top: 0.5em;
  font-size: 1.2em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #efefef;
  width: 85%;
}

.container__input {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* justify-self: center; */
}

.button-search-submit, .button-reserve-search-submit {
  padding: 1.2em;
  border: none;
  border-radius: 0.5em;
  transition: 0.1s;
  background-color: var(--color-pokemon-green);
  color:white;
  font-size: 1em;
  font-weight: 600;
  box-shadow: var(--shadow);
}

.button-search-submit:hover, .button-reserve-search-submit:hover {
  transition: 0.1s;
  transform: scale(105%);
  cursor: pointer;
}

.results__container, .results__container-reserve {
  margin-top: 1.5em;
  color:#727272;
  width: 90%;
  margin-bottom:15em;
  text-align: center;
}


.section-placeholder-text {
  margin-top: 5em;
  font-size: 1.5em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}


.container__reserve-pokemon-slots {
    min-height: 10em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    margin-top: 1em;
    width: 100%;
}

@media (min-width: 800px) {

  body {
    display: flex;
    align-items: center;
    background-color: #d6d6d6;
  }
  .section__main {
    max-width: 80em;
    width: 50em;
    background-color: white;
    border-radius: 1em;
    min-height: 80vh;
  }

  .container__chosen__pokemons {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    gap: 3em;
  }

  .button-bottom-nav {
    max-width: 50em;
  }

  .container__primary-pokemon-slots {
    width: 50em;
  }

  .container__reserve-pokemon-slots {
    width: 50em;
    border-radius: 0em 0em 1em 1em;
}

}

.results-info {
    width: 90%;
    margin-top: 2em;
    color:#727272
}

