.section__info {
  border: 1px solid rgba(48, 48, 48, 0.531);
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 27em;
  /* min-width: 40em; */
  width: 80%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15em;
  position: relative;
  box-shadow: var(--shadow);
  position: fixed;
  top: 1em;
  transition: 0.3s;
}



.title-pokemon-name {
  font-size: 2.5em;
  /* background-color: rgba(0, 0, 0, 0.38); */
  margin-left: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.container__info__pokemon-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  color: white;
}

.container__info__pokemon-info {
  background-color: rgba(0, 0, 0, 0.493);
  /* background-color: rgb(255, 255, 255); */
  padding: 0.5em;
  border-bottom: 1px solid rgb(126, 126, 126);
  border-left: 1px solid rgb(125, 125, 125);
  /* border-radius: 1em; */
  border-top-left-radius: 0em;
  border-top-right-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color:white;
}

.container__info__pokemon-info > p {
  padding: 0.5em;
}


.container__info {
  box-shadow: var(--shadow);
  background: url("/pictures/backgrounds/19834.jpg");
  background-size: cover;
  border-radius: 1em 1em 0em 0em;
  /* overflow: hidden; */
  /* background-position: 10%; */
  background-position-x: left;
  background-position-y: center;
  /* border: 1px dashed rgb(118, 118, 118); */
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:60%;
}

.button-close-overlay {
  background-color: var(--color-pokemon-darkred);
  border: 1px solid rgba(255, 255, 255, 0.395);
  color: white;
  font-weight: 600;
  border-radius: 2em;;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  position:absolute;
  left: 0.5em;
  top: 0.5em;
  transition: 0.2s;
}

.button-close-overlay:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(110%);
  background-color: var(--color-pokemon-red);
}

.container__buttons {
  /* margin-top: 5em; */
  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
}

.inputfield-custom-name {
  margin-right: 1em;
  font-size: 1.5em;
  padding: 0.3em 0.5em;
  max-width: 15em;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
}

/* Händelseknappar */

.button-overlay {
  color: white;
  font-weight: 600;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  border:none;
  box-shadow: var(--shadow);
  transition: 0.1s
}

.button-overlay:hover {
  transition: 0.1s;
  transform: scale(103%);
}

.button-add-to-team {
  background-color: var(--color-pokemon-blue);
}

.button-add-to-team-with-custom-name {
  background-color: var(--color-pokemon-green);
}


.button-remove-from-team {
  background-color: var(--color-pokemon-red);
}

.overlay-message-div {
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1em;
}

@media (max-width: 450px) {

    .section__info {
        width: 90%;
    }

    .container__info {
        flex-direction: column;
        align-items: center;
    }

    .container__info__pokemon-info {
        width: 100%;
        border-radius: 0em;
        text-align: center;
    }

    .inputfield-custom-name {
        font-size: unset;
    }
    
    .overlay-message-paragraph {
        font-size: unset;

    }

    .container__buttons {
        flex-direction: column;
        gap: 0.5em;
        /* align-items: center; */
    }

    .button-overlay {
        max-width: 10em;
        justify-content: center;
    }
}