body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}


/* DENNA RAD SKA VARA LÄNGST NED */
/* .display-primary-section { display: none; } */
.results-table {
  width: 100%;
  height:fit-content;
  margin-top: 1em;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.results-table-body {
  /* border: 1px solid black; */
  width:90%;
}

.new-table-row {
  border: 2px solid rgb(226, 226, 226);
  height: 2.5em;
  /* width: 100%; */
  margin: 0.5em;
  margin-top:1.2em;
  color: black;
  border-radius: 0.5em;;
  transition: 0.1s;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 1.3em;
  gap: 1.5em;
  box-shadow: var(--shadow);
}

.new-table-row:nth-child(odd) {
  background-color: rgb(237, 237, 237);
}
.new-table-row:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.new-table-row:hover {
  transition: 0.1s;
  /* transform: scale(102%); */
  cursor: pointer;
  background-color: var(--color-pokemon-yellow);
  /* font-size: 1.1em;
  font-weight: 600; */
}

.small-search-image {
  height: 50%;
  width: auto;
  /* overflow: hidden; */
  /* width: 50px;
  height: 50px; */
  object-fit: none;
}

.button-reserve-team {
  filter: grayscale(100%) blur(5px);
}
.button-reserve-team:hover {
  /* background-color: gray; */
  visibility: visible;
}

.container__chosen-count, .container__chosen-reserve {
  /* border: 1px dashed green; */
  /* min-width: 20em; */
  display:flex;
  gap: 0.4em;
  font-size: 1.2em;
  padding: 0.5em;
}

.part, .sum {
  font-weight: 600;
}


.nav-buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-buttons-container > button {
    width: 45%;
  }





@media (max-width: 450px) {
    .container__input {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1em;
    }
    
    .td-class {
        display: none;
    }

    .paragraph-search-info {
        padding: 0.5em;
        text-align: center;
    }

    .button-reserve-team > .picture_chosen {
        content: url("/pictures/buttons/buttons-for-narrow-screens/button-to-reserves-28px.png");
    }

    .button-back-to-reserve-team {
        content: url("/pictures/buttons/buttons-for-narrow-screens/button-previous-32px.png")
    }

    .nav-buttons-container {
        flex-direction: column;
        width: 90%;
    }
    
    .nav-buttons-container > button {
        width: unset;
    }

    .container__chosen-primary-pokemons {
        flex-direction: column;
    }
    
    .container__chosen-reserve-pokemons {
        flex-direction: column;
    }
}