.reorder-team {
    font-size: 1.2em;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-weight: 600;
    box-shadow: var(--shadow);
    background-color: var(--color-pokemon-blue);
    margin-top: 1em;
    margin-bottom: 1em;
    transition: 0.2s;
    margin-top: 5em;
}

.reorder-team:hover {
    transition: 0.2s;
    transform: scale(103%);
}

.reorder-div {
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 0.5em;
    padding:1em;
    margin-top: 2em;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* min-width: 30em; */
    /* max-width: 50em; */
    height: 24em;
    row-gap: 1em;
    column-gap: 0.5em;
    max-width: 90%;
    padding-top: 4em;
    z-index: 10;
    background-color: white;
}

.container-reorder-before, .container-reorder-after {
    /* border: 1px solid rgb(142, 142, 142); */
    /* height: 40%; */
    display: flex;
    justify-content: space-evenly;
    height: 50%;
}

.container-reorder-before > div, .container-reorder-after > div {
    border: 1px solid rgba(187, 187, 187, 0.6);
    width: 33%;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    background-color: #efefef8b;
}

.confirm-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    border: none;
    font-weight: 600;
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    background-color: var(--color-pokemon-green);
    color: white;
}

.button-close-reorder {
    background-color: var(--color-pokemon-darkred);
    border: 1px solid rgba(255, 255, 255, 0.395);
    color: white;
    font-weight: 600;
    border-radius: 2em;;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    position:absolute;
    left: 0.5em;
    top: 0.5em;
    transition: 0.2s;
  }
  
  .button-close-reorder:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(110%);
    background-color: var(--color-pokemon-red);
  }

.section-team-placeholder-text {
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}