:root {
  --shadow: 5px 5px 5px rgba(139, 139, 139, 0.324);

--color-pokemon-green: #4DAD5B;
--color-pokemon-red: #FF0000;
--color-pokemon-darkred: #CC0000;
--color-pokemon-blue: #3B4CCA;
--color-pokemon-yellow: #FFDE00;
--color-pokemon-yellowdark: #B3A125;

}